.button {
  font: inherit;
  border: 0px;
  background: inherit;
  color: inherit;
  padding: auto;
  cursor: pointer;
 
  
}

.button:hover,
.button:active {
  background: #791188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
